<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.component.css">
    
</head>
<body>
    <header>
       <img src="./../../assets/img/magda.jpg" alt=""> 
       <nav>
          <ul>
              <li><a href="">Menu</a></li>
              <li><a href="">Inicio</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Acera de</a></li>
              <li><a href="">Galeria</a></li>
              <li><a href="">Contactanos</a></li>
          </ul> 
       </nav>
    </header>
</body>
</html>